
<nav class="navbar">
    <div class="navbar-brand">Fund<span>Flow</span></div>

    <div class="nav-links">
        <a href="/employee/dashboard" class="nav-btn <% if(page == "dashboard") {  %>  <%= 'active' %>   <% } %>">Dashboard</a>
        <a href="/employee/request" class="nav-btn <% if(page == "form") {  %>  <%= 'active' %>   <% } %> ">Add Cost</a>
        <a href="/profile" class="nav-btn"> Profile</a>
    </div>

    <div class="nav-user">
       
    </div>
</nav>