<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Employee requests</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/manager.css">
<style>
  .status{
  padding: 6px 12px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.status.pending{
  background-color: orange;
}

.status.approved{
  background-color: green;
}

.status.rejected{
  background-color: red;
}
</style>
</head>

<body>

<%- include('../partials/manager_nav') %>

<div class="container mt-4">
  <div class="dashboard">
  <div class="page-title">Employee Requests</div>
 
  <div style="margin-bottom: 20px;"></div>


  <button onclick="loadData('all')" class="btn-submit">All</button>
  <button onclick="loadData('pending')" class="btn-submit">Pending</button>
  <button onclick="loadData('approved')" class="btn-submit">Approved</button>
  <button onclick="loadData('rejected')" class="btn-submit">Rejected</button>


  <!-- Adjusted table width -->
  <table class="table table-striped" style="width: 85%; margin: auto;">
    <thead>
      <tr>
        <th>Request ID</th>
        <th>Employee Name</th>
        <th>Category</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="tablebody">

    </tbody>
  </table></div>

</div>
<script src="/js/manager_get_requests.js"></script>
</body>
</html>